.carousel-item {
  height: 92vh; /* Tinggi container sesuai dengan 92% dari tinggi viewport */
  width: 100%; /* Lebar container 100% */
}

.carousel {
  height: 92vh;
}

.carousel-item img {
  height: 92vh;
  object-fit: cover;
}

.Welcome {
  color: #2f852f;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Rekomendasi makanan */
.daerah {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 30px;
  width: max-content;
}

.seluruh {
  padding: 20px 80px;
}
.daerah-item {
  padding-left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
  line-height: 1px;
  width: 18rem;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}

.daerah-item img {
  height: 150px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

/* rekomendasi makanan dan rating */
.resep-kuliner {
  color: #2f852f;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.rekomendasi-makanan {
  padding: 20px auto;
  padding: 15px;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  width: max-content;
  gap: 10px;
}

.container-scroll {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 5px;
  overflow-x: auto;
  scrollbar-width: none;
}

.container-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.container-scroll::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

.container-scroll::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  height: 10px;
}

/* Rempah Rempah */
.rempah-rempah {
  color: #2f852f;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rempah {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card-home {
  width: 18rem;
}

/* MEDIA RESPONSIVE */
@media (max-width: 768px) {
  /* Untuk Style Responsive Mobile Tulis di dalam sini */
  .carousel {
    height: 100%;
  }

  .rempah-rempah {
    flex-direction: column;
  }

  .carousel-item img {
    height: 100%;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000px;
  width: 80%;
  max-width: 1000px;
  text-align: left;
}

.popup-content {
  position: relative;
  padding: 20px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  line-height: 1.5;
  margin-bottom: 15px;
}


.popup:target {
  display: block;
}

.close {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

