

.Welcome {
  color: #2f852f; /*warna tulisn*/
  text-align: center; /*posisi tulisan ke tengah*/
  margin-top: 30px; /* Jarak atas tulisan*/
  margin-bottom: 20px; /* Jarak bawah tulisan*/
}

/* Makanan Makanan Rekomendasi */
.daerah {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 30px;
  width: max-content;
}

.daerah-item {
  padding-left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
  line-height: 1px;
  width: 18rem;
  font-size: 30px;
}

.daerah-item img {
  height: 150px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20PX;
}

.container-scroll {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.container-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.container-scroll::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

.container-scroll::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  height: 10px;
}


/* rekomendasi makanan dan rating */
.resep-kuliner {
  color: #2f852f;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.rekomendasi-makanan {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.rekomendasi-makanan {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.rekomendasi-makanan .card {
  flex: 0 0 auto;
}

.geser {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.geser::-webkit-scrollbar-track {
  background: transparent;
}

.geser::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

.geser::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  height: 10px;
}


/* Rempah Rempah */
.rempah-rempah {
  color: #2f852f;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rempah {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* MEDIA RESPONSIVE */
@media (max-width: 768px) {
  /* Untuk Style Responsive Mobile Tulis di dalam sini */
  .carousel {
    height: 100%;
  }

  .rempah-rempah {
    flex-direction: column;
  }

  .carousel-item img {
    height: 100%;
  }

  .container-scroll {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 67px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .container-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .container-scroll::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
  }
  
  .container-scroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
    height: 10px;
  }

  .geser {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 45px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .geser::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .geser::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
  }
  
  .geser::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
    height: 10px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000px;
  width: 80%;
  max-width: 500px;
  text-align: left;
}

.popup-content {
  position: relative;
  padding: 20px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  line-height: 1.5
  margin-bottom: 15px;
}

.popup:target {
  display: block;
}

.close {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}
