.top-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-profile h1 {
  background-color: #d9d9d9;
  padding: 4px 10px;
  border-radius: 8px;
}

.main-profile {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.data-user {
  line-height: 0.4rem;
}

.button-prof {
  background-color: #22c55e;
  border-radius: 8px;
  border: none;
  padding: 3px 30px;
  color: white;
  text-align: center;
}

.button-prof:active {
  background-color: #228a48;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-content-container {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 8px;
  min-height: 320px;
}

.container-resep,
.container-simpan {
  flex-wrap: wrap;
  gap: 10px;
}

.container-resep {
  display: flex;
}

.container-simpan {
  display: none;
}

/* CARD STYLE */
.title-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.body-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
}

.button-go {
  background-color: #22c55e;
  width: max-content;
  height: max-content;
  text-decoration: none;
  color: white;
  padding: 3px 10px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.button-go:hover {
  background-color: #3a975c;
}

.body-star {
  display: flex;
  flex-direction: column;
  line-height: 1px;
}

.card {
  width: 24.4%;
}

/* AKHIR CARD STYLE */

.avatar-profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 100%;
}

.name-user {
  font-size: 40px;
}

/* MEDIA RESPONSIVE */
@media (max-width: 768px) {
  /* Untuk Style Responsive Mobile Tulis di dalam sini */
  .main-profile {
    padding: 10px 10px;
  }

  .card {
    width: 48.5%;
  }

  .body-rating {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .name-user {
    font-size: 20px;
  }
}
