.input-img {
  flex: 1;
}

.logo-foto {
  transition: 100ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
}

.image-preview {
  position: relative;
  z-index: 1;
  display: none;
}

.logo-image:hover {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white;
}

.logo-image:hover p {
  opacity: 1 !important;
  color: white;
}

.upload-food {
  width: 100%;
  min-height: 400px;
  border: 1px dashed black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* MEDIA RESPONSIVE */
@media (max-width: 768px) {
  /* Untuk Style Responsive Mobile Tulis di dalam sini */
}
